*.zip
*.swo
*.swp

build
.deps
.bin

.env
vpn.env
aws.env

docker/nginx/letsencrypt*
docker/logs.env
docker/logs/data
docker/logs/journal
docker/logs/config/node-id
htpasswd
glacier

schema.sql
data.sql
TM_WORLD_BORDERS-0.3.sql
TM_WORLD_BORDERS_SIMPL-0.3.sql

*.tfstate*
*.tfvars*
*.tfplan*

*-ssh-key*

deployed.json