docker/nginx/letsencrypt*
vpn.env
lambda/config.py
*.zip
config.py
*.swo
*.swp
data
docker/logs.env
docker/logs/data
docker/logs/journal
docker/logs/config/node-id
htpasswd
glacier
schema.sql
data.sql
build
