code.conservify.org {
	tls jacob@conservify.org

	handle /logs-viewer/* {
		reverse_proxy http://logs-viewer:3000
	}

	handle_path /archives/* {
		root /var/lib/distribution
		file_server
	}

	handle /distribution/* {
		reverse_proxy http://laborator:3000
	}

	handle /laborator/* {
		reverse_proxy http://laborator:3000
	}

	handle /jira/* {
		reverse_proxy http://jira:8080
	}

	handle /logs/* {
		reverse_proxy http://logs:9000
	}

	handle_path /gl/* {
		reverse_proxy http://graylog:9001
	}

	handle /diagnostics/* {
		reverse_proxy http://diagnostics:8080
	}

	handle_path /grafana/* {
		reverse_proxy http://grafana:3000
	}

  	root /var/www/conservify.org

   	handle {
       		file_server
   	}
}

strapi.conservify.org {
	tls jacob@conservify.org
	reverse_proxy http://172.17.0.1:1337
}
